/* validator component */
[required],
[data-validate] {
}
.invalid {
  color: red;
}
.invalid [required],
.invalid [data-validate] {
  border-color: red;
}
.invalid + .error-msg {
  font-style: italic;
  font-size: .8125em;
}