/* validator component */

/*[required],
[data-validate] {
}
.invalid {
}*/

.invalid [required],
.invalid [data-validate] {
  border-color: #dc0014;
}
.error-msg {
  font-style: italic;
  font-size: .8125em;
  color: #dc0014;
}